.film-card {
  background-image: url('../../Assests/disFilm1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 26px;
  flex-shrink: 0;
  height: 250px;
  margin-right: 24px;
  position: relative;
  width: 440px;

  .overlay {
    border-radius: 0 0 25.6px 25.6px;
    height: 140px;
    left: 0;
    position: absolute;
    top: 140px;
    width: 100%;
  }
  .non-play-overlay {
    border-radius: 0 0 26px 26px;
    left: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .play-btn {
      width: 48px;
      height: 48px;
      top: 100px;
      left: 549px;
      opacity: 0.16px;
      border-radius: 50%;
      background-color: #f9f9f977;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .movie-title {
      color: #f9f9f9;
      font-family: Inter, 'Source Sans Pro';
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.008rem;
      line-height: 1.5;
      margin: 5px;
      white-space: nowrap;
    }

    .release-year {
      color: #78828a;
      font-family: Inter, 'Source Sans Pro';
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.006rem;
      line-height: 1.67;
      white-space: nowrap;
    }
  }
  .video-container {
    margin-left: 10px;
    .title-year-container {
      height: 46px;
      width: 100%;
      margin-bottom: 20px;

      .movie-title {
        color: #f9f9f9;
        font-family: Inter, 'Source Sans Pro';
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.008rem;
        line-height: 1.5;
        margin-bottom: 5px;
        white-space: nowrap;
      }

      .release-year {
        color: #78828a;
        font-family: Inter, 'Source Sans Pro';
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.006rem;
        line-height: 1.67;
        white-space: nowrap;
      }
    }
    .slider-container {
      display: flex;
      align-items: center;
      .pause-icon {
        object-fit: contain;
        width: 32px;
        height: 32px;
        background-color: #f9f9f931;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        > img {
          width: 24px;
          height: 24px;
          padding: 5px 6px 5px 6px;
          opacity: 1 !important;
        }
      }
      .ant-slider {
        width: 200px;
        margin-right: 15px;
        .ant-slider-track {
          background-color: #b43feb;
        }
        .ant-slider-rail {
          background-color: #f9f9f9;
          opacity: 0.12;
        }
        .ant-slider-handle::after {
          background-color: #b43feb;
          box-shadow: 0 0 0 2px #b43feb;
        }
      }

      .duration {
        color: #d1d8dd;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.006rem;
        line-height: 1.67;
        margin-right: 8px;
        white-space: nowrap;
      }

      .play-icon {
        flex-shrink: 0;
        height: 16px;
        margin-right: 8px;
        object-fit: contain;
        position: relative;
        vertical-align: top;
        width: 149px;
      }

      .time {
        color: #d1d8dd;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.006rem;
        line-height: 1.67;
        margin-right: 11.2px;
        white-space: nowrap;
      }

      .audio-icon {
        flex-shrink: 0;
        height: 16.918px;
        margin-bottom: 0.0003px;
        object-fit: contain;
        vertical-align: top;
        width: 18px;
      }
    }
  }
}
