* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #0d0c0f;
}

.content {
  display: flex;
}

.next-page-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
